main{
    max-width: 1200px;
    width: 100%;
    background-color: rgb(118, 189, 218);
    color: white;
   text-align: center;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif; 
    padding: 20px 0;

}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.trigger, .tweet{
    border: .5px solid white;
    border-radius: 3px;
    background-color: rgba(2, 2, 2, 0);
    color: white;
    width: 300px;
    margin: 10px auto;
    padding: 3px 0;
    text-decoration: none;
    
}